/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

* {
	padding: 0px;
	margin: 0px;
	font-family: 'Song Myung', serif;
	box-sizing: border-box;
}

body {
	background-color: #EDE5E2;
}

li {
	list-style: none;
}

p {
	line-height: 1.6em;
}

a {
	color: black;
}

nav ul {
	height: 50px;
	background-color: #EDDE45;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav ul li {
	list-style: none;
}

nav a {
	text-decoration: none;
}

h1 {
	text-align: center;
	margin: 30px;
}

#face {
	position: relative;
}

#face p {
	position: absolute;
	left: 25vw; /* 수정 바람 */
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	font-size: 20px;
}

#face img {
	width: 100%;
	height: 300px;
	opacity: 0.5;
}

.section {
	display: flex;
	border-bottom: 2px solid #ED146F;
	background-color: #9BF0E9;
}

#humanity {
	border-top: 2px solid #ED146F;
}

.section > * {
	margin: 10px;
	height: 200px;
}

.section-head {
	text-align: center;
	color: #9BF0E9;
	font-size: 25px;
	background-color: #ED146F;
	width: 30vw;
	padding-top: 60px;
	padding-bottom: 60px;
}

.section-body {
	color: #ED146F;
}

.section-body ul {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-evenly;
}

.section-body ul li {
	font-size: 18px;
}